<div id="Menu" class="Menu iap-view-controller ">
<div ad-outlet="menuView" class="ad-view" id="Menu-menuView"><div ad-navigates-to="Map" ad-title="Map " ad-vertical-alignment="middle" ad-type="ad-custom-type" ad-outlet="mapButton" ad-edited="true" class="ad-button" id="Menu-mapButton"></div><div ad-navigates-to="Videos" ad-title="Videos 
" ad-vertical-alignment="middle" ad-type="ad-custom-type" ad-outlet="videosButton" ad-edited="true" class="ad-button" id="Menu-videosButton"></div><div ad-navigates-to="Photos" ad-title="Photos
" ad-vertical-alignment="middle" ad-type="ad-custom-type" ad-outlet="photosButton" ad-edited="true" class="ad-button" id="Menu-photosButton"></div></div>
</div>